/* philosophy */




.philosophy {
	max-width:800px;
	margin:0 auto;
}

.philosophy-image-left
{
	
	width:50%;
	float:left;
	display:inline;
}


.philosophy-image-right
{
	
	width:50%;
	float:right;
	display:inline;
}

.philosophy-image-center
{

	width:100%;
}


.philosophy-text
{
	font: 22px/1.25 "Calisto MT", "Bookman Old Style";
	padding-bottom: 5px;
	padding-top: 5px;
}

.philosophy-header
{
	text-align: center;
	padding-top:15px;
	padding-bottom:5px;
}

@media (max-width: 800px)
{
	.philosophy-image-left, .philosophy-image-right
	{

		width:100%;
	}

}