/* gallery */


.gallery-albums-album
{
	text-align: center;
	display: inline-block;
	width: 49%;
	font-size: 22px;
	cursor: pointer;
}

.gallery-description
{

	font: 22px/1.25 "Calisto MT", "Bookman Old Style";
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 0 auto;
	text-align: center;
}

.album-name
{
	text-align: center;
	padding-top:15px;
	padding-bottom:5px;
}

.album-desc
{
	text-align: center;
}

.gallery-header
{
	text-align: center;
	padding-top:15px;
	padding-bottom:5px;
	float:center;
}


.jrg-carousel-cont
{
width:400px;
height:400px;
}
.gallery-slide {
	//max-width:500px;
	vertical-align:top;
	margin-left:auto;
	margin-right:auto;
	display:block;
}