/* gallery */

.gallery-albums-album
{
	text-align: center;
	display: inline-block;
	width: 49%;
	font-size: 22px;
	cursor: pointer;
}

.album-name
{
	text-align: center;
}

.album-desc
{
	text-align: center;
}