/* app-nav-header-public */

.header-public {
	background: url('@{rootDir}/common/img/header/site-header-background.jpg');
	background-size:auto cover;
	overflow:hidden;
	font-family: arial;
	font-weight:bold;
	font-size:17pt;
}
.header-public-inner {
	height:100%;
	padding-left:10px;
	padding-right:10px;
}

.header-public-img-bm {
	position:absolute;
	left: 280px;
	height:100%;
}


@media (max-width:650px)
{
	.header-public-img-bm {
	position:absolute;
	left:95px;
	height:100%;
}


}

.header-public-img-sigep {
	margin-right:15px;
}
.header-public-img-sigep, .header-public-img-berkeley {
	height:120%;
	margin-top:-10px;
	z-index:2;
}
.header-public-img-letters {
	height:140%;
	padding-top:4px;
	margin-right:-20px;
}

.header-public-links-all {
}
.header-public-link {
	display:inline-block;
	cursor:pointer;
	vertical-align:top;
	line-height:@header-height;
	padding-left:5px;
	padding-right:9px;
	position:relative;
	top:10px;
	left:4px;
}
.header-public-link.selected {
	color:#990033;
}

.header-public-menu {
	position:fixed;
	z-index:999;
	width:100%;
	background-color:white;
}
.header-public-menu-link {
	color:black;
}
.header-public-menu-link.selected {
	color:#990033;
}

.header-public-img-sigep, .header-public-img-letters, .header-public-links {
	display:none;
}

@media(min-width:450px) {
	.header-public-img-letters {
		display:inline;
	}
}

@media(min-width:650px) {
	.header-public-img-sigep {
		display:inline;
	}
}

@media(min-width:1050px) {
	.header-public-link-menu {
		display:none;
	}
	.header-public-links {
		display:block;
	}
	.header-public-menu {
		display:none;
	}
}
