/* app-nav-header-public */

.header-public {
  background: url('@{rootDir}/common/img/header/site-header-background.jpg');
  background-size:auto cover;
  overflow:hidden;
  font-family: arial;
  font-weight:bold;
  font-size:17pt;
}
.header-public-inner {
  height:100%;
  padding-left:10px;
  padding-right:10px;
}

.header-public-img-bm {
  position:absolute;
  left: 280px;
  height:100%;
}


@media (max-width:650px)
{
  .header-public-img-bm {
  position:absolute;
  left:95px;
  height:100%;
}


}

.header-public-img-sigep {
  margin-right:15px;
}

@media (max-width:410px)
{
.header-public-img-berkeley {
display:none;
}
  .header-public-img-bm {
  position:absolute;
  left: 20px;
  height:100%;
}
}

@media (max-width:380px)
{
  .header-public-img-letters {
position:absolute;
right:100px;
top:5px;
z-index:4;
}

.header-public-img-letters-menu {
  margin:10px auto;
  display:block;
  width:20%;
  min-width:160px;
  background-color:dark-grey;

}
}

@media (min-width:180px)
{

.header-public-img-letters-menu
  {
  display:none;
  }
}



.header-public-img-sigep, .header-public-img-berkeley {
  height:120%;
  margin-top:-10px;
}

.header-public-img-berkeley {
z-index:3;
}


  .header-public-img-sigep
{
  z-index:2;
}

@media (max-width:450px)
{
.header-public-img-berkeley {
z-index:0;
opacity:0.35;
}
}

.header-public-img-letters {
  height:80px;
  padding-top:4px;
  margin-right:-20px;
  z-index:4;
}


.header-public-links-all {
}
.header-public-link {
  display:inline-block;
  cursor:pointer;
  vertical-align:top;
  line-height:@header-height;
  padding-left:5px;
  padding-right:9px;
  position:relative;
  top:10px;
  left:4px;
}
.header-public-link.selected {
  color:#990033;
}

.header-public-menu {
  position:absolute;
  z-index:999;
  width:100%;
background: -moz-linear-gradient(top,  rgba(230,216,216,1) 0%, rgba(230,216,216,1) 2%, rgba(198,198,198,0.97) 34%, rgba(246,243,247,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,216,216,1)), color-stop(2%,rgba(230,216,216,1)), color-stop(34%,rgba(198,198,198,0.97)), color-stop(100%,rgba(246,243,247,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(230,216,216,1) 0%,rgba(230,216,216,1) 2%,rgba(198,198,198,0.97) 34%,rgba(246,243,247,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(230,216,216,1) 0%,rgba(230,216,216,1) 2%,rgba(198,198,198,0.97) 34%,rgba(246,243,247,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(230,216,216,1) 0%,rgba(230,216,216,1) 2%,rgba(198,198,198,0.97) 34%,rgba(246,243,247,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(230,216,216,1) 0%,rgba(230,216,216,1) 2%,rgba(198,198,198,0.97) 34%,rgba(246,243,247,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d8d8', endColorstr='#e6f6f3f7',GradientType=0 ); /* IE6-9 */

}
.header-public-menu-link {
  color:black;
  font-size:24pt;
}
.header-public-menu-link.selected {
  color:#990033;
}

.header-public-img-sigep, .header-public-links {
  display:none;
}


@media(min-width:450px) {
  .header-public-img-letters {
    display:inline;
    height:90px;
    z-index:0;
  }
}

@media(min-width:650px) {
  .header-public-img-sigep {
    display:inline;
    z-index:5;
  }
}

@media(min-width:1050px) {
  .header-public-link-menu {
    display:none;
  }
  .header-public-links {
    display:block;
  }
  .header-public-menu {
    display:none;
  }
}