/* roster */


.roster-header
{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
}

.roster-row
{
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana;
	font-size: medium;
	border: solid black 2px;
	border-radius: 7px;
	padding: 8px;
	box-shadow: 2px 2px 2px #999999;
	min-width: 225px;
	vertical-align: top;
}

.roster-text
{
	height: 26px;
	line-height: 26px;
	text-align: center;
}

