/* roster */


.roster-header
{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
}

.roster-row
{
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana;
	font-size: medium;
	border: solid black 2px;
	border-radius: 7px;
	padding: 5px;
	box-shadow: 1px 2px 1px grey;
}


