<div ng-controller='ChallengeTrackerCtrl'>
	Challenge-Tracker 
	<br>
	<br>
	<!-- {{trackerData}} -->
	<br>
	<div>
		This is {{user.first_name}} {{user.last_name}}'s development challenge status as a {{usersDevChallenge}} 

		<!-- {{userChallengeGoals}} -->
		<br>
		Percentage is based on how close you are to completing the goal vs proximity to the deadline.
		<br>
		<br>
	</div>
	<div>
		<div class = 'flexbox'>
			<div class = 'flex1'>
			</div>
			<div ng-repeat = 'col in trackerData.weeks' class = 'flex1'>
				Week {{col}}
			</div>
		</div>
		<div class = 'flexbox' ng-repeat = 'newRow in trackerData.myChallengeGoals track by $id($index)'>
			<div class = 'flex1'>
				{{newRow.name}}
			</div>
			<div class = 'flex1' ng-repeat = 'cell in trackerData.milestoneGrid[$index].milestonesByWeek track by $id($index)'>
				{{percent(cell, newRow.target_value, $index, weeksToDeadline)}}
				<div style = 'background-color:rgb({{rgbVal1(tempVal)}},{{rgbVal2(tempVal)}},0);'>
				{{cell}}/{{newRow.target_value}} ({{(tempVal*100)}}% on track)
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class = "form">
		Enter a new Milestone here!
		<div jrg-forminput type='select' label= "Goal" ng-model='formVals.goalToAddMilestoneFor' select-opts='challengeGoalNameList' opts='opts' ></div>

		<div jrg-forminput type='number' label= "New Value" placeholder = "What is your current value? for example: enter 15 for 15 pushups" ng-model='formVals.newMilestoneValue' opts='' ></div>

		<div jrg-forminput type='textarea' label= "Description" placeholder = 'Describe your progress for this goal. For example: I did pushups every day to practice' ng-model='formVals.newMilestoneDescription' opts='' ></div>

		<div class = 'btn btn-primary' ng-click = 'addMilestone()'> ADD! </div>
	</div>

</div>