body{
}
.form{
	display:		block;
	margin-left:	5%;
	margin-right:	70%;
}
.input{
	display:		block;
	margin-left:	auto;
	margin-right:	auto;
}
.centered-img{
	display:		block;
	margin-left:	auto;
	margin-right:	auto;
}
.test-brother-container{
	text-align: center;
}
.image-block{
	display:inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
}

.image-txt{
	text-align: center;
}

